<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="FinalTourService_991531576.TourService_991531576">
                <endpoint address="" binding="basicHttpBinding" contract="FinalTourService_991531576.ITourService_991531576">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/FinalTourService_991531576/TourService_991531576/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<connectionStrings><add name="ABCTourDB_991531576Entities" connectionString="metadata=res://*/TourServiceModel_991531576.csdl|res://*/TourServiceModel_991531576.ssdl|res://*/TourServiceModel_991531576.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ABCTourDB_991531576.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
