<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ABCTourDB_991531576Entities" connectionString="metadata=res://*/TourServiceModel_991531576.csdl|res://*/TourServiceModel_991531576.ssdl|res://*/TourServiceModel_991531576.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ABCTourDB_991531576.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FinalTourService_991531576.TourService_991531576" behaviorConfiguration="mexServiceBehavior">
        <endpoint address="ABCService_991531576" binding="basicHttpBinding" contract="FinalTourService_991531576.DBOperations"></endpoint>
        <endpoint address="ABCService_991531576" binding="netTcpBinding" contract="FinalTourService_991531576.AuthenticationUser"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
            <add baseAddress="net.tcp://localhost:8090"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>